# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
.env
venv/
env/
*.egg-info/

# Node / React
node_modules/
frontend/dist/
frontend/.env

# IDE / OS
.vscode/*
!.vscode/settings.json
.idea/
.DS_Store

# Docker
*.log
